# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Python Package

on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]
          playwright install chromium
        env:
          PLAYWRIGHT_BROWSERS_PATH: ./pw-browsers
      - name: Create file for google credentials
        run: |
          echo "${{ secrets.GOOGLE_CREDENTIALS }}" | base64 --decode > google_credentials.json
        shell: bash
      - name: Build package
        run: |
          pyinstaller bolletta_sync/app.py --add-data "pyproject.toml:." --add-data "pw-browsers:pw-browsers" --add-data "icon.ico:." --add-data "google_credentials.json:." --windowed --name bolletta-sync --icon icon.ico
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.os }}
          path: dist/bolletta-sync*

  release:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
      - name: Create archive for release
        run: |
          tar -czvf bolletta-sync_linux.tar.gz artifacts/build-ubuntu-latest/bolletta-sync
          tar -czvf bolletta-sync_windows.tar.gz artifacts/build-windows-latest/bolletta-sync
      - name: Update release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bolletta-sync_linux.tar.gz
            bolletta-sync_windows.tar.gz